
<app-header [title]="title"></app-header>
  

<div id="background">
  <div class="wrapper">
    <table>
      <tr>
        <td class="main_title">
          <div class="css-typing">
            <p>Post Your Products </p>
            <p>With No Extra Cost</p>
          </div>
        </td>
        <td class="pic" rowspan="2">
          <!-- Picture section -->
          <div id="pic_div">
            <img src="assets/images/new_back.jpg" id="main_img">
          </div>
        </td>
      </tr>

      <tr>
        <td class="sub_title">
          <h3>Enjoy the Perks</h3>
          <ul>
            <li>(1) Register / login your account</li>
            <li>(2) Post your product</li>
            <li>(3) Answer and Checkout Questions</li>
          </ul>
          <a id="heroBtn" href="/inventory/add_edit" class="btn btn-primary justify-content-center" id="heroBtn">
            Post Now
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="background2">

</div>
<app-footer></app-footer>
