<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <div id="footer_wrap">
    <!-- Footer table -->
    <div class="container-fluid">

      <!-- Grid row starts-->
      <div class="row">

        <!-- Grid column (Logo)-->
        <div class="col-md-2 mt-md-0 mt-2 ">
          <img id="logo" src="/assets/images/logo.jpeg" width="200px">
          
        </div>

        <!-- Grid column (Team name)-->
        <div class="col-md-10 mt-md-0 mt-10 ">
          <div class="container-fluid ">

            <!-- Grid row1 starts-->
            <div id="id">
              <h6><br>Team Fix-It Sell-It</h6>
            </div>

            <!-- Grid row2 starts-->
            <div class="row">

              <!-- Grid column (Shota)-->
              <div class="col-md-3 mb-md-0 mb-3">
                <a><b>Ankit Kodan</b></a>
                <ul class="list-unstyled">
                  <li>
                    <a>SN:301251952</a>
                  </li>
                  <li>
                    <a>Web Designer</a>
                  </li>
                  
                </ul>
              </div>

              <!-- Grid column (Freya)-->
              <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <a><b>Aruna Ravi Kumar</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301243154</a>
                  </li>
                  <li>
                    <a>Security Programmer</a>
                  </li>
                  
                </ul>
              </div>

              <!-- Grid column (Seol)-->
              <div class="col-md-3 mb-md-0 mb-3">

                <a><b>Dhavalbhai Patel</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301240436</a>
                  </li>
                  <li>
                    <a>Lead Software Engineer</a>
                  </li>
                  
                </ul>
              </div>

              <!-- Grid column (Marianne)-->
              <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->

                <a><b>Jay Patel</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301225357</a>
                  </li>
                  <li>
                    <a>Database Programmer</a>
                  </li>
                  
                </ul>
              </div>
               <!-- Grid column (Marianne)-->
               <div class="col-md-3 mb-md-0 mb-3">

                <a><b>Rishabh Dev Dogra </b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301255606</a>
                  </li>
                  <li>
                    <a>UI Programmer</a>
                  </li>
                  <li>
                    <a>Documentation </a>
                  </li>
                </ul>
              </div>
               <!-- Grid column (Marianne)-->
               <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->

                <a><b>Yuk Hong Ma</b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301210312</a>
                  </li>
                  <li>
                    <a>Project Manager</a>
                  </li>
                  <li>
                    <a>Documentation </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Grid row ends-->
    </div>
  </div>
</footer>


