<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Untitled</title>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="../social"><i class="icon ion-social-snapchat"></i></a><a href="https://www.linkedin.com/in/rishabh-dev-dogra-865196186/"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/RishabhDevDogra"><i class="icon ion-social-github"></i></a></div>
        
        <p class="copyright">This is Open-Source Hero Zone</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
    </footer>
</div>




