<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <div id="footer_wrap">
    <!-- Footer table -->
    <div class="container-fluid">

      <!-- Grid row starts-->
      <div class="row">

        <!-- Grid column (Logo)-->
        <div class="col-md-2 mt-md-0 mt-2 ">
          <img id="logo" src="/assets/images/logo.jpeg" width="200px">
          
        </div>

        <!-- Grid column (Team name)-->
        <div class="col-md-10 mt-md-0 mt-10 ">
          <div class="container-fluid ">

            <!-- Grid row1 starts-->
            <div id="id">
              <h6><br>Team Fix-It Sell-It</h6>
            </div>

            <!-- Grid row2 starts-->
            <div class="row">

              
                

               <div class="col-md-3 mb-md-0 mb-3">

                <a><b>Rishabh Dev Dogra </b></a>
                <ul class="list-unstyled">

                  <li>
                    <a>SN:301255606</a>
                  </li>
                  <li>
                    <a>UI Programmer</a>
                  </li>
                  <li>
                    <a>Documentation </a>
                  </li>
                </ul>
              </div>
               
               

            </div>
          </div>
        </div>
      </div>
      <!-- Grid row ends-->
    </div>
  </div>
</footer>


