
.table {
    padding-top: 20px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(110, 157, 244);
  }
 .td {
    padding: 20px;
  }
.html{
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
.question{
    background-color: brown;
    
}